body{
	font-family: 'Raleway', sans-serif;
}


a:hover{
	color:#4d79ff;
	border-bottom: 5px solid #4d79ff;
	padding-bottom: 30px;
}
a:link{
	text-decoration:none;
	
}
a{
	color: #1a1a1a;
}
a:active{
	color:#4d79ff;
	border-bottom: 5px solid #4d79ff;
	padding-bottom: 30px;
}


.navbar-inverse{
	background:#2c3e50;
}

.navbar-inverse .navbar-nav>li>a{
	color:white;

}

.navbar-inverse .navbar-brand{
	color:white;
}