html{
	height: 100%;
}

body{
	background:url(241901.jpg);
	background-size: cover;
	font-family: 'Quicksand', sans-serif;
	color:white;

}
.fact{
	text-align: center;
	margin-top: 20%;
	/*font-size: 1px;*/
}
.content{
	text-align: center;
	width: 40%;
	font-size: 1.2em;
	margin-left: 29%;
}
.btn{
	margin-left: 43%;
	margin-top: 4%;
}